<div class="box-sizing">
    <div class="nav">
        <img class="logo" src="assets/images/investips-logo2.svg" alt="" />
        <div class="nav-menu">
            <a>
                <img src="assets/images/home-icon.svg" />
                <span>HOME</span>
            </a>
            <a>
                <img src="assets/images/search-icon.svg" />
                <span>SEARCH</span>
            </a>
            <a>
                <img src="assets/images/watchlist-icon.svg" />
                <span>TOP SIGNALS</span>
            </a>
            <a>
                <img src="assets/images/original-icon.svg" />
                <span>RESEARCH</span>
            </a>
            <a>
                <img src="assets/images/movie-icon.svg" />
                <span>PORTFOLIO</span>
            </a>
            <a>
                <img src="assets/images/series-icon.svg" />
                <span>BLOG</span>
            </a>
        </div>
        <img class="user-image" src="assets/images/carlos.png" alt="" />
    </div>
</div>
